* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

ul {
    width: 100vw;
    height: 100vh;
    list-style: none;
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

li {
    width: auto;
    height: fit-content;
    padding: 20px 30px;
    font-size: xx-large;
    color: white;
}

li:nth-child(odd) {
    background-color: red;
}

li:nth-child(even) {
    background-color: green;
}