* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    overflow: hidden;
}

header {
    width: 100vw;
    height: 25vh;
}

header img {
    width: 100%;
    height: 100%;
}

menu {
    width: 100vw;
    height: 5vh;
    background-color: black;
}

menu ul {
    height: 5vh;
    display: flex;
    list-style: none;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
}

menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

menu ul li a:hover {
    color: rgb(88, 85, 85);
}

main {
    width: 100vw;
    height: 50vh;
    background-color: blueviolet;
    display: flex;
}

footer {
    width: 100vw;
    height: 20vh;
    background-color: black;
}

.left-aside {
    width: 15%;
    height: 100%;
    background-color: antiquewhite;
    padding: 20px;

}

.left-aside ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.main-content {
    width: 70%;
    height: 100%;
    background-color: rgb(105, 64, 10);
}

.right-aside {
    width: 15%;
    height: 100%;
    background-color: rgb(83, 65, 42);
}

@media screen and (max-width: 620px) {
    main {
        background-color: blueviolet;
        flex-direction: column;
    }

    .left-aside {
        width: 100%;
        height: 100%;
        background-color: antiquewhite;
        order: 1;
    }

    .main-content {
        width: 100%;
        height: 100%;
        background-color: rgb(105, 64, 10);
        order: 2;
    }

    .right-aside {
        width: 100%;
        height: 100%;
        background-color: rgb(83, 65, 42);
        order: 3;
    }
}